body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}
body, ul {
  margin: 0;
  padding: 0;
}
h1{
  margin-bottom: 2rem;
  color: #f2f2f2;
}

header {
  background-color: black;
  color: white;
  padding: 1.5rem;
  text-align: left;
}



nav ul {

    background-color: rgba(255, 255, 255, 0.2); /* transparente */
    backdrop-filter: blur(5px);               /* borroso */
   -webkit-backdrop-filter: blur(10px);       /* compatibilidad con Safari */
    position: sticky;
    z-index: 100;
    padding: 0 1rem;
    margin: 0;
  background-color: transparent;
  list-style-type: none;
  margin-left: 12rem;
  margin-top: -3rem;
 margin-bottom: 2rem;
}
nav li {
  display: inline-flex;

}
nav a {
  transition: color 1s;
  text-decoration: none;
  color: white;
  padding: 0 1rem;
}
nav li:hover{
  background-color: transparent;
}

.nav a:hover {
  color: #003366;

}



/* seccion menu-toggle */
.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.menu li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: transparent;
    margin-top: 0.3rem;
    margin-left: 4rem;
  }

  .menu.show {
    display: flex;

  }

  .menu-toggle {
    display: block;
  }
}
.menu-toggle:hover{
  transform: scale(1.05);
}



/* seccion carousel */
.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

}

.carousel-track-container {
  overflow: hidden;
  position: relative;
  height: 650px;
  
}
@media (max-width: 768px) {
  .carousel-track-container {
    height: 300px; /* más alto si querés que la imagen se luzca más */
  }
}
.carousel-track {
  display: flex;
  transition: transform 1.5s ease-in-out;
  width: 100%; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-slide {
  position: relative;
  min-width: 100%;
  width: 100%; 
  height: 100%; /* <- Añadir esto */
}

.carousel-slide img {
   height: 100%;
  width: 100%;
  object-fit: cover;
  display: block; /* Evita espacio debajo de la imagen */

}




/* seccion texto-encima */

/* Estilos generales para todos */
[class^="texto-encima"] {
  position: absolute;
  left: 20px;
  color: white;
  font-weight: bold;
  z-index: 2;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  max-width: 90%;
  line-height: 1.2;
}

/* Título principal de cada slide */
.texto-encima2,
.texto-encima3,
.texto-encima5 {
  top: 150px;
  font-size: 4rem;
}

/* Texto secundario debajo del título */
.texto-encima,
.texto-encima4,
.texto-encima6 {
  top: 240px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .texto-encima2,
  .texto-encima3,
  .texto-encima5 {
    font-size: 1.8rem;
    top: 20px;
  }

  .texto-encima,
  .texto-encima4,
  .texto-encima6 {
    font-size: 1rem;
    top: 70px;
  }

  [class^="texto-encima"] {
    left: 10px;
  }
}



/* seccion botones next y prev */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;           /* <- importante */
  margin: 0;  
  border-radius: 0;
  outline: none;          
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}

button.next:hover , button.prev:hover{
  background-color: black;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}




/* seccion slider */
.texto-autos{
  top: 10px;
  left: 10px;
  color: #003366;
  font-size: 3rem;
  padding: 40px 20px;
}

.slider {
  overflow: hidden;
  height: 300px;
  width: 99vw;
  background: #eee;
  position: relative;
}

.slide-track {
  display: flex;
  width: calc(300px * 10); /* ancho de cada imagen x cantidad */
  animation: scroll 40s linear infinite;
}

.slide {
  width: 300px;
  flex-shrink: 0;
  padding: 10px;
}

.slide img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.slide:hover {
  transform: scale(1.00);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: 0.5s ease;

}




/* seccion descubrir */
.descubrir{
background-color:  #003366;
      color: white;
      padding: 0.4rem 0.8rem;
      text-decoration: none;
      border-radius: 8px;
      display: inline-block;
      margin-left: 5.5rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
}
.descubrir:hover{
  background-color: black;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 5);
  transition: all 0.5s ease;
}
/* Animación de scroll */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1500px); }
}
.descripcion-slide {
  text-align: center;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #003366;
  font-weight: bold;

}
.descripcion-detalle {
  padding: 2rem;
  background-color: #fff;
  border-top: 2px solid #003366;
  color: #333;
  font-size: 1.5rem;

}

.descripcion-detalle h2 {
  color: #003366;
  margin-bottom: 1rem;

}

.detalle-auto {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap; /* para que se acomode bien en pantallas pequeñas */
 padding-top: 2rem;
 padding-bottom: 5rem;
}

.imagen-detalle {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  display: block;
}

.texto-detalle {
  font-size: 1.1rem;
  flex: 1;
  max-width: 500px;
  text-align: center;
}

.imagen-detalle {
  width: 500px;
  max-width: 90%;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: block;
}
.info-auto {
  flex: 1;
  max-width: 500px;
}

.precio-auto {
  font-size: 1.5rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
h3{
  color: #003366;
  margin-bottom: 1rem;
  text-align: right;
  padding-right: 2rem;
  font-size: 2rem;
}
.texto-detalle-1{
  font-size: 1.1rem;
  flex: 1;
  max-width: 500px;
  text-align: center;
}
/* Espejo: texto a la izquierda, imagen a la derecha */
.reverse-layout {
  display: flex;
  flex-direction: row-reverse; /* Invierte el orden normal */
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.boton-financiar {
  display: inline-block;
  margin-top: 1rem;
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-financiar:hover {
  background-color: #0055aa;
}


/* seccion flecha arriba*/


.flecha-arriba {
  position: fixed;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: black;
  bottom: 20px;
  right: 27px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 5rem;
  padding: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.flecha-arriba:hover {
  background-color: grey;
}

html {
  scroll-behavior: smooth;
}

/* seccion financiacion*/


.financiacion h2{
  color: #003366;
  font-size: 2rem;
}
.financiacion{
 text-align: center;
 background: #eee;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
 padding-top: 3rem;
 padding-bottom: 3rem;
}
.simulador-financiacion {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.simulador-financiacion input,
.simulador-financiacion select {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.simulador-financiacion button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.simulador-financiacion button:hover {
  background-color: #0055aa;
}

.resultado-cuota {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #003366;
}


/* seccion mapa consecionaria */


.concesionaria {
  padding: 3rem 2rem;
  background-color: #f2f2f2;
  text-align: center;
}

.concesionaria h2 {
  color: #003366;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.concesionaria-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.concesionaria-datos {
  max-width: 400px;
  text-align: left;
  font-size: 1.1rem;
  color: #333;
}

.concesionaria-mapa {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}
.concesionaria-mapa iframe {
  height: 300px;
}


/* seccion Botones contacto */


.botones-contacto {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.botones-contacto a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s;
  margin-bottom: 3.5rem;
  margin-right: 0.8rem;
}

.botones-contacto .whatsapp {
  background-color: #25D366;
}


.botones-contacto a:hover {
  transform: scale(1.1);
}


/* seccion formulario contacto */


.formulario-contacto {
  background-color: #f2f2f2;
  padding: 4rem 2rem;
  text-align: center;
  color: #333;
}

.formulario-contacto h2 {
  color: #003366;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subcomentario {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #444;
}

.formulario {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.campo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.campo label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #003366;
}

.input-text,
textarea.input-text {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: vertical;
}

.boton-enviar {
  padding: 0.75rem 2rem;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.boton-enviar:hover {
  background-color: #0055aa;
}


/* seccion Separador */

.separador {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #0055aa, transparent);
  margin: 40px 0;
}



/* seccion Redes */


.redes a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.redes a:hover {
  color: #0055aa;
}

/* Elementos ocultos inicialmente */
.animado {
  opacity: 0;
  transition: opacity 2s ease-out;
}
.animado.visible {
  opacity: 1;
}

/* seccion testimonios */


.testimonios {
  background-color: #f2f2f2;
  padding: 4rem 2rem;
  text-align: center;
}

.testimonios h2 {
  color: #003366;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.testimonio {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.comentario {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.cliente {
  font-weight: bold;
  color: #003366;
}



/* seccion porque elegirnos */



.porque-elegirnos {
  background-color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
}

.porque-elegirnos h2 {
  color: #003366;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.beneficios {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.beneficio {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 2rem;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.beneficio h3 {
  margin-bottom: 0.5rem;
  color: #003366;
  text-align: center;
}

.beneficio p {
  font-size: 0.95rem;
  color: #333;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 5rem;

}
